//
// Copyright 2023 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// go/keep-sorted start
@use '../../focus/focus-ring';
// go/keep-sorted end

@media (forced-colors: active) {
    .fab {
        border: calc(1rem * var(--md-sys-globalscale, 1)) solid ButtonText;

        &.extended {
            // Adjust the padding-inline to account for the calc(1rem * var(--md-sys-globalscale,1)) border in HCM.
            padding-inline-start: calc(15rem * var(--md-sys-globalscale, 1));
            padding-inline-end: calc(19rem * var(--md-sys-globalscale, 1));
        }
    }

    md-focus-ring {
        // Adjust the focus ring padding to account for the calc(1rem * var(--md-sys-globalscale,1)) border in HCM.
        @include focus-ring.theme(('outward-offset': calc(3rem * var(--md-sys-globalscale, 1)),
            ));
    }
}