//
// Copyright 2022 Google LLC
// SPDX-License-Identifier: Apache-2.0
//

// stylelint-disable selector-class-pattern --
// Selector '.md3-*' should only be used in this project.

// go/keep-sorted start
@use 'sass:map';
// go/keep-sorted end
// go/keep-sorted start
@use '../../../tokens';
// go/keep-sorted end

@mixin styles() {
    $tokens: tokens.md-comp-outlined-segmented-button-values();
    // b/198759625 - Remove spacing tokens once provided.
    $tokens: map.merge($tokens,
            ('spacing-leading': calc(12rem * var(--md-sys-globalscale, 1)),
                'spacing-trailing': calc(12rem * var(--md-sys-globalscale, 1)),
            ));

    :host {
        @each $token, $value in $tokens {
            --_#{$token}: #{$value};
        }
    }

    .md3-segmented-button__outline {
        border-radius: inherit;
        border-style: solid;
        // Move border-width and inset into theme.
        border-width: calc(1rem * var(--md-sys-globalscale, 1));
        inset: calc(0rem * var(--md-sys-globalscale, 1)) -calc(0.5rem * var(--md-sys-globalscale, 1));
        pointer-events: none;
        position: absolute;
    }
}